<nav
  class="navbar navbar-expand-lg navbar-dark bg-blue shadow"
  *ngIf="authService.isLoggedIn()"
>
  <a class="navbar-brand" routerLink="ricerca"
    ><img
      src="/assets/BCC-transparent.png"
      width="32"
      height="32"
      class="d-inline-block align-top mx-1"
      alt=""
    />BCC</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="ricerca" routerLinkActive="active"
          >Ricerca Clienti</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active"
          >Check Ping</a
        >
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <fa-icon [icon]="faUser" class="mx-1"></fa-icon>
          <strong>{{ username | titlecase }}</strong>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right bg-blue"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <h6 class="dropdown-header text-white">Operazioni</h6>
          <a class="dropdown-item text-white" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet class="bg-lightblue"></router-outlet>
<router-outlet name="modal"></router-outlet>
